<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assistant.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @assistant.group %>
</p>

<p>
  <strong>Address:</strong>
  <%= @assistant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @assistant.phone %>
</p>

<%= link_to 'Edit', edit_assistant_path(@assistant) %> |
<%= link_to 'Back', assistants_path %>
