<p id="notice"><%= notice %></p>

<h1>Activity Logs</h1>

<table>
  <thead>
    <tr>
      <th>Baby</th>
      <th>Assistant</th>
      <th>Activity</th>
      <th>Start time</th>
      <th>Stop time</th>
      <th>Duration</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_logs.each do |activity_log| %>
      <tr>
        <td><%= activity_log.baby_id %></td>
        <td><%= activity_log.assistant.name %></td>
        <td><%= activity_log.activity_id %></td>
        <td><%= activity_log.start_time %></td>
        <td><%= activity_log.activity_finished_at%></td>
       
    
      </tr>
    <% end %>
  </tbody>
</table>

<br>

