<p id="notice"><%= notice %></p>

<p>
  <strong>Baby:</strong>
  <%= @activity_log.baby_id %>
</p>

<p>
  <strong>Assistant:</strong>
  <%= @activity_log.assistant_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @activity_log.activity_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @activity_log.start_time %>
</p>

<p>
  <strong>Stop time:</strong>
  <%= @activity_log.stop_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @activity_log.duration %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @activity_log.comments %>
</p>

<%= link_to 'Edit', edit_activity_log_path(@activity_log) %> |
<%= link_to 'Back', activity_logs_path %>
