<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @baby.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @baby.birthday %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @baby.mother_name %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @baby.father_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @baby.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @baby.phone %>
</p>

<%= link_to 'Edit', edit_baby_path(@baby) %> |
<%= link_to 'Back', babies_path %>
